<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BTVN 6</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="icon" href="/static/icon/icon-h-15.ico">
</head>
<body>
    {% with messages = get_flashed_messages() %}  
         {% if messages %}  
               {% for message in messages %}  
                    <p>{{ message }}</p>  
               {% endfor %}  
         {% endif %}  
      {% endwith %}  
      <div class="blockUser" >
        <div class='user'>
            <img src="" alt="error"  id= "avatar" >
            <div class="middle">
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <input type="file" class="upload" id = "file" name = "file" accept="image/*">
                    <input type="submit" name="upload" id="upload" value="upload" class="upload">
                </form>
                
            </div>
            <h1 id="username" ></h1>
        </div>
        <form action="/changePass" class="formUser">
            <button type="submit" class = "formUser"> Change Password</button>
            <button type="submit"class = "formUser" formaction="/logOut"> Log Out</button>
        </form>
    </div>  

    <div class="container">
        <div class="item"><img src="/static/pics/pic_1.jpg" alt="error"></div>
        <div class="item"><img src="/static/pics/pic_2.jpg" alt="error"></div>
        <div class="item"><img src="/static/pics/pic_3.jpg" alt="error"></div>
        <div class="item"><img src="/static/pics/pic_4.jpg" alt="error"></div>
        <div class="item"><img src="/static/pics/pic_5.jpg" alt="error"></div>
        <div class="item"><img src="/static/pics/pic_6.jpg" alt="error"></div>
        <div class="item"><img src="/static/pics/pic_7.jpg" alt="error"></div>
        <div class="item"><img src="/static/pics/pic_8.jpg" alt="error"></div>
        <div class="item"><img src="/static/pics/pic_9.jpg" alt="error"></div>
        <div class="item"><img src="/static/pics/pic_10.jpg" id= 'pic_10' alt="error"></div>
        
    </div>

   
    <div class="modal">
        <div class="close"><span>&times;</span></div>
        <div class="modal-content"><img id="picModal" src=""></div>
    </div>
    
    <script src="/static/js/index.js"></script>

</body>
</html>